{% extends '_layouts/detail-entry.njk' %}
{% set entry = data.entries[1] %}

{% block story %}
<img src="img/kraken02.jpg" alt="Kraken 02">
  <h1>{{ entry.title }}</h1>
  <h5>Captain's log: {{ entry.date }}</h5>
  <p>Gun Nelsons folly salmagundi chase guns pillage Barbary Coast Jack Ketch barkadeer Shiver me timbers quarterdeck. Lateen sail Gold Road snow cackle fruit American Main scuppers nipperkin wench Pirate Round to go on account. Hearties gangplank Pieces of Eight Davy Jones' Locker maroon measured fer yer chains schooner spirits capstan brigantine.</p>
{% endblock %}