{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block page_description %}A daily blog from Capt. Crit McGillicutty.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="col-md-8 offset-md-2"> <h1>Capt. Crit McGillicutty's Daily Blog</h1></div>
      <div class="col-md-10 offset-md-1"><p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
      <p>TProw scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p></div>
      {% for entry in data.entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p class="entry-date">{{ entry.date }}</p>
       <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
